body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#logonav img {
  font-family: "Sacramento", cursive;
  text-decoration: none;
  font-size: 40px;
  color: black;
  border-radius: 15px;
}

.btn {
  background-color: darkgoldenrod;
  width: 1vw;
  color: white;
}

.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

img.logo {
  height: 40px;
  width: 40px;
  margin-bottom: 50px;
}